In [20]:
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt

Problema pensado: Descrever o perfil dos brasileiros economicamente ativos relacionando as variáveis Unidade federativa, Sexo, Idade, Cor ou raça com o rendimento e fazer uma comparação entre 2011 e 2015

In [21]:
dados2011 = pd.read_csv("PES2011.csv")  
dados2015 = pd.read_csv("PES2015.csv")

In [22]:
dados11 = dados2011[["UF",'V0302',"V8005","V0404","V9532"]]
dados11.columns = ["Unidade Federativa","Sexo","Idade","Cor ou raça","Rendimento"]
dados11.head()

   Unidade Federativa  Sexo  Idade  Cor ou raça    Rendimento
0                  11     2     49            2  1.000000e+12
1                  11     4     33            8           NaN
2                  11     4     15            8           NaN
3                  11     2      9            2           NaN
4                  11     4     51            4  2.800000e+03

In [23]:
dados15 = dados2015[["UF",'V0302',"V8005","V0404","V9532"]]
dados15.columns = ["Unidade Federativa","Sexo","Idade","Cor ou raça","Rendimento"]
dados15.head()

   Unidade Federativa  Sexo  Idade  Cor ou raça  Rendimento
0                  11     2     23            8       800.0
1                  11     4     23            2      1150.0
2                  11     4     35            8       880.0
3                  11     2     34            8      3000.0
4                  11     4     11            8         NaN